.modal-overlay {
  position: fixed;
  inset: 0;
  margin-top: 1.6rem;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  padding: 1rem;
}

.modal-content {
  background: #141414;
  color: #fff;
  border-radius: 12px;
  padding: 2rem;
  max-width: 900px;
  max-height: 100vh;
  margin-top: 2rem;
  width: 100%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
}

.modal-close:hover {
  color: #fff;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.modal-header img {
  width: 160px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.modal-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.promo-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 0.2rem;
}

.promo-price {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00ff00;
  margin: 5px 0 0.5rem 0;
  flex: 1;
  text-align: left;
}

.promo-user {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: #00ff00;
  margin-bottom: 0.6rem;
}

.promo-link {
  background-color: transparent;
  color: #ff6a00;
  border: 2px solid #ff6a00;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.promo-link:hover {
  background-color: transparent;
  color: #ff6a00;
  border: 2px solid #ff6a00;
  box-shadow: 0 0 10px 2px rgba(255, 106, 0, 0.7);
  transition: box-shadow 0.3s ease;
}


.modal-comments {
  background: #1d1d1d;
  border-radius: 10px;
  padding: 1rem;
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

.like-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;  
  justify-content: space-between;
}

.promo-user-link {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;

}

.promo-likes {
  cursor: pointer;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
  color: #ccc;
  transition: transform 0.2s ease;
}

.promo-likes:hover {
  transform: scale(1.05);
}

.meta-icon {
  font-size: 1.5rem;
  color: #ccc;
}

.meta-icon.liked {
  color: red;
}

.like-count {
  font-size: 1rem;
  color: #fff;
}

.cupom-border {
  border: 0.2rem dashed rgb(195, 0, 255);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.copy-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(195, 0, 255);
  font-size: 1rem;
}

.copy-btn:hover {
  color: rgb(245, 241, 244);
}

.comment-icon {
  margin-right: 6px;
  color: #00bfff;
}

.modal-comments::-webkit-scrollbar {
  width: 6px;
}

.modal-comments::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

.modal-comments h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5rem;
}

.comment-item {
  padding: 0.75rem 0;
  border-bottom: 1px solid #2a2a2a;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-item p {
  font-size: 1rem;
  margin: 0 0 0.25rem;
}

.comment-item small {
  color: #aaa;
}

.comment-actions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.comment-actions button {
  background: none;
  border: none;
  color: #00bfff;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.comment-actions button:hover {
  color: #fff;
  text-decoration: underline;
}

.edit-textarea {
  width: 100%;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 0.5rem;
  color: #fff;
}

.edit-buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.btn-save,
.btn-cancel {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btn-save {
  background: #ffe600;
  color: white;
}

.btn-cancel {
  background: #d32f2f;
  color: white;
}

.show-more-btn {
  background: none;
  border: none;
  color: #00bfff;
  cursor: pointer;
  font-size: 0.95rem;
  margin-top: 1rem;
}

.show-more-btn:hover {
  text-decoration: underline;
}

.modal-comment-input {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

}

.modal-comment-input textarea {
  width: 85%;
  padding: 0.75rem;
  margin-top: -3.4rem;
  border-radius: 6px;
  background: #222;
  color: #fff;
  border: 1px solid #444;
  resize: none;
}

.btn-comment {
  align-self: flex-end;
  background: #0099ff;
  color: #fff;
  border: none;
  margin-top: -2.7rem;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-comment:hover {
  background: #007acc;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.icon-button.edit {
  color: #f1c40f;
}

.icon-button.delete {
  color: #e74c3c;
}

.icon-button:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
